#business-area{
    background-color: #f7f5fa;
    height: 500px;
    position: relative;
}
#business-area .bussiness{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
     max-width: 1200px;
    margin: 0 auto;
   
}
#business-area .bussiness .right-image{
    position: absolute;
    top: 0;
    right: 0;
}
#business-area .text{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    width: 310px;
}
