#welcome-area {
    height: 600px;
}

#welcome-area .container {
    max-width: 1200px;
    margin: 0 auto;
}

#welcome-area .container .welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100vh;
}

#welcome-area .container .welcome .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
}

#welcome-area .container .welcome .text .content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #B8B8B8;
    font-size: 16px;
}
#welcome-area .container .welcome .text .content .far,.small{
    line-height: 1.5;
}

#welcome-area .container .welcome .text .our {
    color: #D4D4D4;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 16px;
}

#welcome-area .container .welcome .text h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
}

#welcome-area .container .welcome .content .learn {
    padding: 15px;
    word-spacing: 2px;
    background-color: transparent;
    border: none;
    width: 200px;
    border: 1px solid #B8B8B8;
    cursor: pointer;
    letter-spacing: 1.5px;
    color: #B8B8B8;
}
#welcome-area .container .welcome .image img {
    width: 450px;
    height: 320px;
}
#welcome-area .container .welcome .content .learn:hover{
    background-color: orange;
    color: white;
    border: none;
    transform: scale(1.05);
}
@media(max-width:768px){
    #welcome-area .container .welcome {
        padding: 40px;
        flex-wrap: wrap;
        display: flex;
    }
    #welcome-area .container .welcome .image img {
        width: 400px;
    }
}
