.navlist{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background-color: white;
}
.links{
    display: flex;
    gap: 20px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}
.wrapper{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    cursor: pointer;
    justify-content: center;
}
.burger{
    display: none;
}
@media(max-width:768px){
    .burger{
        display: block;
        font-size: 25px;
    }
    .basket,.admin,.links{
        display: none;
    }
}