#blog-area .blog-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}
#blog-area{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}
#blog-area .blogs{
    display: flex;
    gap: 40px;
}
#blog-area .blogs .blog .text{
   padding:  25px;
   display: flex;
   flex-direction: column;
   gap: 20px;
}
#blog-area .blogs .blog .text p{
    margin: 0;
}
#blog-area .blogs .blog .text h3{
   font-size: 23px;
}
@media(max-width:768px){
    #blog-area .blogs{
        flex-wrap: wrap;
        justify-content: center;
    }
}