#guest-area .guests-cart{
    display: flex;
     padding: 50px;
    gap: 20px;
}
#guest-area .guest{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
#guest-area .guests-cart .guests{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#guest-area{
    max-width: 1000px;
    margin: 0 auto;
}
#guest-area .guests .text{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}
#guest-area .guests .text p{
    margin: 0;
}
#guest-area .title{
    width: 300px;
}
@media(max-width:768px){
    #guest-area .guests-cart{
        flex-wrap: wrap;
        justify-content: center;
    }
}