#text-area {
    height:500px;
}

#text-area .text {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
    flex-direction: column;
    height: 100%;
}

#text-area .text h2 {
    font-size: 45px;
    letter-spacing: 1.5px;
    font-weight: bold;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#text-area .text p {
    color: #FFFFFFB3;
    letter-spacing: 1px;
    font-weight: 500;
}

#text-area .text button {
    padding: 10px;
    border: none;
    color: white;
    width: 100px;
    font-size: 12px;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid white;
}

#text-area .text button:hover {
    background-color: white;
    color: black;
}