 #card-area .text{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
 #card-area .text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    flex-direction: column;
    gap: 15px;
}
#card-area .text button{
    padding: 10px;
    width: 120px;
    background-color: #7971ea;
    color: white;
    letter-spacing: 1.5px;
    border: none;
    cursor: pointer;
}
#card-area .text button:hover{
    background-color: transparent;
    color: #7971ea;
    border: 1px solid #7971ea;
    transform: scale(1.05);
}